
table td {
  background-color: grey;
  width:28px;
  height:28px;
  text-align: center;
  cursor: pointer;
  border: 1px solid black;
  color:black;
}

table td.c1 {
  background-color: white;
}

table.invert td {
  background-color: white;
}

table.invert td.c1 {
  background-color: grey;
}